[sherlock2]
Host		login.sherlock.stanford.edu
User		monajemi
Bqs		SLURM
Repo		/scratch/users/monajemi/CJRepo_Remote
MAT     	matlab/R2017a
MATlib		~/BPDN/CVX/cvx:~/mosek/7/toolbox/r2013a
Python		python/3.6
Pythonlib	pytorch:pandas:cuda80:scipy:matplotlib:torchvision:-c soumith   
[sherlock2]


[corn]
Host		corn.stanford.edu
User		monajemi
Bqs		SGE
Repo		/farmshare/user_data/monajemi/CJRepo_Remote
MAT     	matlab/r2016b
MATlib		~/BPDN/CVX/cvx:~/mosek/7/toolbox/r2013a
Python		python/3.4.3
Pythonlib	scipy:pytorch
[corn]


[rice]
Host		rice.stanford.edu
User		monajemi
Bqs		SLURM
Repo		/farmshare/user_data/monajemi/CJRepo_Remote
MAT     	matlab/r2016b
MATlib		~/BPDN/CVX/cvx:~/mosek/7/toolbox/r2013a
Python		python/3.4.3
Pythonlib	scipy:matplotlib
[rice]


[osg]
Host		login.osgconnect.net
User		hatef
Bqs		HTCondor
Repo		./
MAT		matlab/2016b
MATlib		~/cvx
Python		python/3.4.3
Pythonlib	scipy
[osg]


[bridges]
Host		bridges.psc.edu
User		monajemi
Bqs		SLURM
Repo		/pylon2/cc3l6jp/monajemi/
MAT		matlab/R2016a
MATlib		~/cvx
Python		python/3.4.3
Pythonlib	scipy
[bridges]


[stampede]
Host		stampede.tacc.utexas.edu
User		tg840998
Bqs		SLURM
Repo		/work/04800/tg840998/CJRepo_Remote
MAT		matlab/2016b
MATlib		~/BPDN/CVX/cvx
Python		python/3.4.3
Pythonlib	scipy
[stampede]


[sherlock]
Host		sherlock.stanford.edu
User		monajemi
Bqs		SLURM
Repo		/scratch/users/monajemi/CJRepo_Remote
MAT     	matlab/R2016b
MATlib		~/BPDN/CVX/cvx:~/mosek/7/toolbox/r2013a
Python		python/3.4.3
Pythonlib	pytorch:cuda80:scipy:matplotlib:torchvision -c soumith
[sherlock]


[sherlock2]
Host		login.sherlock.stanford.edu
User		monajemi
Bqs		SLURM
Repo		/scratch/users/monajemi/CJRepo_Remote
MAT     	matlab/R2017a
MATlib		~/BPDN/CVX/cvx:~/mosek/7/toolbox/r2013a
Python		python/3.6
Pythonlib	pytorch:cuda80:scipy:matplotlib:torchvision:-c soumith
[sherlock2]


[gce]
Host	5.203.181.20
User	hatefmonajemi
Bqs		SLURM
Repo		/home/hatefmonajemi/CJRepo_Remote
MAT     	""
MATlib		""
Python		python3.4
Pythonlib	pytorch:torchvision:cuda80:pandas:matplotlib:-c soumith
[gce]

[az]
Host		104.42.101.85
User		ubuntu
Bqs		SLURM
Repo		/home/ubuntu/CJRepo_Remote
MAT     	""
MATlib		""
Python		python3.4
Pythonlib	pytorch:torchvision:cuda80:pandas:matplotlib:-c soumith
[az]

[ec2]
Host	        54.201.71.158
User		ubuntu
Bqs		SLURM
Repo		/home/ubuntu/CJRepo_Remote
MAT     	""
MATlib		""
Python		python3.4
Pythonlib	pytorch:torchvision:cuda80:pandas:-c soumith
[ec2]


